.comment-wrapper {
  padding: 0 10px;
  margin-top: 10px;
  border: dashed 1px red;
  .comment-list {
    padding: 10px 16px;
    background-color: #f8f8f8;
    list-style: none;
    .comment-item {
      display: flex;
      margin: 6px 0;
      border-bottom: solid 1px #ddd;
      &:last-child {
        border: none;
      }
      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ddd;
      }
      .content {
        padding-top: 6px;
      }
    }
  }
}
